# 執行模式: PROD (平日 10-17 每小時) 或 TEST (不限時 10 分鐘)
EXECUTION_MODE=PROD

# Git 使用者設定
GIT_USERNAME=AutoQueryBot
GIT_EMAIL=bot@autoquery.local

# GitHub 認證設定
# 請填入你的 GitHub 使用者名稱
GITHUB_USER=您的GitHub帳號
# 請在此填寫您的 GitHub Personal Access Token (PAT)
# 申請網址: https://github.com/settings/tokens
GITHUB_PAT=您的_PAT_請填寫在這個等號後面

# 你的 GitHub 專案名稱 (如果網址是 github.com/username/my-project，則填 my-project)
GITHUB_REPO=use-permit
